* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
}

.navbar {
  background-color: #0063ab;
  font-family: Arial;
  font-style: bold;
  overflow: hidden;
  height: 100px;
}

.navbar a {
  font-size: 16px;
  color: white;
  margin: 25px;
  padding: 14px 16px;
  float: left;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  color: #E76F51;
  text-decoration: underline;
}

.navbar__title {
  font-family: "Chela One", system-ui;
  font-size: 36px;
  float: left;
  color: white;
  margin: 25px;
  padding-left: 25px;
}

.navbar__right {
  float: right;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbutton {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  margin: 25px;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: white;
  background-color: #0063ab;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0063ab;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
  color:#0063ab;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box {
    width: 500px;
    height: 600px;
    margin-top: 100px;
}

.about__wawa {
    display: flexbox;
    width: 500px;
    text-align: justify;
}

#xubis__image {
    width: 600px;
    height: 800px;
}

.comingsoon {
  height: 900px;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/cedarwawa_waaya.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity(80%);
}

.comingsoon__text {
    font-family: "Chela One", system-ui;
    color: #0063ab;
    font-size: 64px;
    text-align: center;
    float: center;
    padding-top: 25%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #0063ab;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact__form {
    border: solid black;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

.footer {
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #0063ab;
}

.footer__text {
  color: white;
  text-align: center;
  font-style: italic;
  padding-top: 90px;
}
h1 {
  font-family: "Chela One", system-ui;
}

h2 {
  font-size: 48px;
}

.wakashan__link:link {
  color: #0063ab;
  text-decoration: none;
}

.wakashan__link:visited {
  color: darkred;
}

.wakashan__link:hover {
  color: #45a049;
}